html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section img {
  width: 40px;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 2rem;
  background-color: #d05c2e;
  padding-top: .4rem 0;
  width: 100%;
  text-align: center;
}

img {
}

header {
  background-color: #d05c2e;
}

nav ul {
  display: flex;
  list-style-type: none;

}

nav li {
  color: #fff;
  font-size: 1.125rem;
  width: 33.333%;
  text-align: center;
  border: 1px solid #a63f38;
}

nav a{
  text-decoration: none;
  color: #fff;
}
